---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&country=US&key=app_key&lat=33.2896&lon=-87.5251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - c94a1143-219f-4f05-b795-e05de4ff84ec
      X-Apigee.target-Latency:
      - '53'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":49,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":33.2896,"lon":-87.5251},"geobiasCountry":"US"},"results":[{"type":"POI","id":"njiFKGd5IdBxx3vWLraw1Q","score":106.5920349336,"dist":3098.151712,"info":"search:ta:840017000010677-US","poi":{"name":"Bank
        of Tuscaloosa","phone":"+1 205-345-6021","categorySet":[{"id":7397}],"url":"www.bankoftuscaloosa.com","categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"4901","streetName":"Rice Mine Road
        Northeast","municipality":"Tuscaloosa","countrySecondarySubdivision":"Tuscaloosa","countrySubdivision":"AL","countrySubdivisionName":"Alabama","postalCode":"35406","extendedPostalCode":"35406-2650","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"4901 Rice Mine Road Northeast,
        Tuscaloosa, AL 35406","localName":"Tuscaloosa"},"position":{"lat":33.26297,"lon":-87.515297},"viewport":{"topLeftPoint":{"lat":33.26387,"lon":-87.51637},"btmRightPoint":{"lat":33.26207,"lon":-87.51422}},"entryPoints":[{"type":"main","position":{"lat":33.26287,"lon":-87.51583}}]},{"type":"POI","id":"eCepk7sdjnXkwSlZTULtig","score":106.5726486417,"dist":3115.772375,"info":"search:ta:840019000842474-US","poi":{"name":"ATM
        at Retail Location Publix","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"4851","streetName":"Rice Mine Road
        Northeast[...]
[...]
